<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebScrapper.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebScrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <WebScrapper.ConsoleApp.Properties.Settings>
            <setting name="TargetUrl" serializeAs="String">
                <value>https://srh.bankofchina.com/search/whpj/searchen.jsp</value>
            </setting>
            <setting name="TargetDir" serializeAs="String">
                <value>Users\Nesani\Documents\WebScrapper</value>
            </setting>
        </WebScrapper.ConsoleApp.Properties.Settings>
        <WebScrapper.Properties.Settings>
            <setting name="TargetUrl" serializeAs="String">
                <value>https://srh.bankofchina.com/search/whpj/searchen.jsp</value>
            </setting>
            <setting name="TargetDir" serializeAs="String">
                <value>Users\Nesani\Documents\WebScrapper\</value>
            </setting>
        </WebScrapper.Properties.Settings>
    </applicationSettings>
</configuration>